@import "tailwindcss";
@import "tw-animate-css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font classes */
@layer base {
  html {
    font-family: var(--font-inter, sans-serif);
  }

  h1, h2, h3, .font-geist {
    font-family: var(--font-geist-sans), sans-serif;
  }

  code, .font-geistMono {
    font-family: var(--font-geist-mono), monospace;
  }

  body {
    @apply bg-gray-900 text-white antialiased;
  }
}
